<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wine Tripping</title>

    <!-- "When was the last time you laughed?"  -->

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Condensed" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <!-- jQuery CDN from Materialize Getting Started Page -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>
  <script type="text/javascript" src="scripts/renderWineryCard.js"></script>
  <script type="text/javascript" src="scripts/nav.js"></script>
  <script type="text/javascript" src="scripts/footer.js"></script>
  <header>
    <nav style="background-color: #B88AAC">
    </nav>
  </header>
  <body>
    <div class="hero-image">

    <div class="container" >
      <div id="header-row"class="row" >
        <div class="col s12 m8 l8 transparent">
          <div class="card-image">
            <p class="home-hero"style="height: 178px">Get lost amongst the Vines. <br></br> Wine country on your schedule </p>
          <!--End of card-image div  -->
          </div>
        <!-- Promo Content 1 goes here -->
        </div>
        <div class="col s12 m4 l4 card z-depth-5">
            <form class="col 12" id="home-form">
              <div class="input-field col s12">
                  <select>
                    <option value="" disabled selected>Get Started</option>
                    <option class="drop-down-text" name='wineRegion' value="1">Dry Creek Valley</option>
                    <option class="drop-down-text" name='wineRegion' value="2">Alexander Valley</option>
                    <option class="drop-down-text" name='wineRegion' value="3">Sonoma Valley</option>
                  </select>
                  <label for="wineRegion">Wine Region</label>
                </div>
                <div class="input-field col s12">
                  <input id="title" name='title' type="text" class="validate">
                  <label for="title">Name your trip</label>
              </div>
              <button style="margin: 5px" class="btn waves-effect waves-light purple lighten-3" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
            </form>
        <!-- End of 2nd Section Div  -->
        </div>
      <!--End of 1st Row Div -->
      </div>
      <div class="container">
        <div id="winery-container" class="row">

        </div>
      </div>

    <!--End of Main Container Div  -->
    </div>
  <!-- End of hero Image Div -->
  </div>


  </body>
  <footer class="page-footer" style="background-color: #B88AAC">

  </footer>

</html>
