<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Splish Splash</title>

    <!-- "When was the last time you laughed?"  -->

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="../styles/styles.css">

    <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <!-- jQuery CDN from Materialize Getting Started Page -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="../scripts/renderWineryCard.js"></script>
  <script type="text/javascript" src="../scripts/mapWineryCard.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg"></script>
  <script type="text/javascript" src="../scripts/nav.js"></script>
  <script type="text/javascript" src="../scripts/footer.js"></script>
  <script type="text/javascript" src="../scripts/map.js"></script>
  <header>
    <nav style="background-color: #B88AAC">
    </nav>
  </header>
  <body>
    <div class="container">
      <div class="row">
        <div class="col s6 m6 l6 map-outline">

        </div> <!-- End of 1st Column Main Section Column Div  -->
     <div class="col s12 m5 l5 offset-l1 outline">
       <div id="wine-map" class="row">

       </div>
     </div> <!-- End of 2nd Main Section Column Div   -->
    </div> <!-- End of 1st Row Div   -->
   </div> <!-- End of 1st Container Div   -->
  </body>

  <footer class="page-footer" style="background-color: #B88AAC">
  </footer>

  </html>
