

ul.dropdown-content.select-dropdown li:not(.disabled) span {
    color: #BB8AAC; /* no need for !important :) */
}

nav {
  color: black;
}
.col.m4.l4.card{
  height: 225px;
}
.col.m8.l8.card{
  height: 225px;
}

.hero-image{
  background-image: url('images/panorama.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 50%;
}
div.chip{
  border-left: 50px;
}

.add-winery-card{
  text-align: center;
}
#add-winery{
  margin: auto;
}

.outline{
  border: green 1px dashed;
}

.home-hero{
  color: white;
  /*font: bold;*/
  font-size: 30px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
