

ul.dropdown-content.select-dropdown li:not(.disabled) span {
    color: #BB8AAC; /* no need for !important :) */
}
div.input-field.input #title{
  color: #BB8AAC;
}
nav {
  color: black;
}
.col.m4.l4.card{
margin-top: 50px;
padding: 10px;
}
.col.m8.l8{
  margin-top: 75px;
}

.hero-image{
  background-image: url('images/landscape-nature-grass-marsh-light-sun-535861-pxhere.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 50%;
}
div.chip{
  border-left: 50px;
}

.add-winery-card{
  text-align: center;
}
#add-winery{
  margin: auto;
}

.map-outline {
  margin-top: 25px;
}
.outline{
  /*border: green 1px dashed;*/
  height: 100%;
  width: 100%;
}
#wine-map{
  height: 400px;
  width: 400px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  border-radius: 25px;

  /* // TODO: SETUP @MEDIA SIZING FOR SMALLER WINDOWS TO MAKE MAP RESPONSIVE*/
}
.home-hero{
  color: white;
  /*font: bold;*/
  font-size: 30px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.mapwinery{
  border-radius: 25px 25px 0px 0px;
}
